.contact-item {
    flex-grow: 1;
}
.contact-item h3 {
    font: raleway 24px;
    padding-left: 15px;
}
.contact-item h4 {
    font: raleway 16px;
    color: orange;
    padding-left: 15px;
}

.contact-item-text {
    margin-right: 25px;
    align-items:center;
}
.contact-item-text h4{
    font: raleway 12px bold;
    text-align: start;
    margin-left: 100px;
}
.contact-item-text p{
    font: raleway 12px bold;
    text-align: start;
}

.contact-container .contact-item-text .contact {
    color: orange;
}

.contact-container {
    display: flex;
}
h2 {
    padding-left: 150px;
}

h3 {
    font: raleway 12px;
    padding-left: 15px;
}

.skills-container {
    display: flex;
}

.skill-item {
    flex-grow: 1;
}
.skill-item-text {
    font: lato 11px;
    margin-right: 25px;
    align-items:center;
}

.skill-item-text p {
    text-align: start;
}
.side-hr {
    width: 10px;
    margin-left: 15px;
}
.right-hr {
    margin-left: 100px;
}

.skill-item ul {
    list-style: none;
    text-align: left;
}

.work-container {
    display: flex;
}

.work-item {
    flex-grow:1;
}
.work-item-text {
    font: lato 11px;
    margin-right: 25px;
    align-items:center;
}

.work-item-text h4,ul {
    list-style: none;
    text-align: start;
    margin-left: 100px;
}

.work-item-text h5 {
    text-align: start;
}

.work-item-text p {
    text-align: start;
}

.education-container {
    display: flex;
}

.edu-item {
    flex-grow:1;
}

.edu-item-text {
    margin-right: 25px;
    font: lato 11px;
}

.edu-item-text h4,h5,p {
    list-style: none;
    text-align: start;
    margin-left: 100px;
}

.cert-container {
    display: flex;
}

.cert-item {
  flex-grow: 1;
}

.cert-item-text {
    margin-right: 25px;
    font: lato 11px;
}

.cert-item p {
    list-style: none;
    text-align: start;
    margin-left: 100px;
}